#searchbar {
    margin-left: 2%;
    padding: 10px;
    border-radius: 10px;
}

input[type=text] {
    width: 20%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

.search {
    display: list-item;
    text-align: left;
    list-style-position: inside;
}